header{
    background-color: rgb(245, 181, 203);
    padding: 10px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-tittle{
    font-size:2.8rem ;
    font-weight: 800;

}
nav > ul{
    list-style: none;
    display: flex;

}
nav li{
   
    font-weight: 500;
    font-size: 1.2rem;
    margin-right: 20px;

}
nav li a{
    text-decoration: none;
    color: rgb(46, 45, 45);
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-tittle{
    font-size: 3rem;
    font-weight:700;


}
.banner img{
    max-width: 800px;
    width: 100%;


}
.btn-primary{
    border-radius: 5px;
    color: aliceblue;
    padding: 20px 25px;
    background-color: rgb(231, 137, 14);
    border: none;
    margin: 10px;
    margin-bottom: 20px;
    font-size: 1.25rem;
    cursor: pointer;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
main{
    max-width: 1440px;
  margin: 0 auto;
  margin-left: 1%;
  margin-top: 5%;

}
.teams-container{
    display: flex;
    align-items: center;

}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 1rem;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;

}
.teams-tittle{
    font-size: 45px;
}
.teams-tittle1{
    font-weight: 500;
    color: rgb(65, 65, 64);
}
.teams-tittle3{
    color: rgb(235, 143, 5);
    font-weight: 700;
}










@media screen and (max-width:576px){
    header{
        padding: 20px;
    }

    nav , .teams-container{
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    
    
}
@media screen and (min-width:576px) and (max-width:960px){
    header{
        padding: 50px;
    }

    nav , .teams-container{
        flex-direction: column;
    }
 
}